{% extends "layout.html" %}
{% block title %}Search profile{% endblock %}
{% block body %}
<div class="container">
    <form class="column is-offset-one-quarter is-half" method="post" action="{{ url_for('homepage.index2') }}">
        <div class="field">
            <label for="name">Steam username: </label>
            <div class="control">
                <input class="input is-medium" type="text" name="name"/>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-medium is-fullwidth">Search</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}