<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Steamhelp</title>
    <meta name="application-name" content="Steamhelp">
    <meta property="og:site_name" content="Steamhelp">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="icon" sizes="64x64 32x32 24x24 16x16" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-light" role="navigation" aria-label="main navigation">
      <a class=" navbar-brand" href="{{ url_for('index') }}">
        <img class="d-inline-block align-top" src="{{ url_for('static', filename='images/logo.png') }}" alt="Steamhelp logo" width="30" height="30">
        <span class="font-weight-bold text-dark">:: Steamhelp</span>
      </a>
    </nav>
    <main role="main" class="container">
        <h1 class="mt-4">{{ self.title() }}</h1>
        {% block body %}{% endblock %}
    </main>
    <footer class="footer mt-5 mb-4">
      <div class="container">
        <p>© 2019 Saphyel.</p>
      </div>
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>