{% extends "layout.html" %}
{% block title %}{{ profile.persona_name }} profile{% endblock %}
{% block body %}
 <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header"><p class="card-header-title">{{ profile.persona_name }}</p></header>
                <div class="card-content">
                    Steam ID: {{ profile.steam_id }}<br/>
                    Real name: {{ profile.real_name }}<br/>
                    Country code: {{ profile.country_code }}<br/>
                    Total games: {{profile.games|length}}
                </div>
            </div>
        </div>
    </div>
    <table class="table is-striped  is-fullwidth">
        <thead><tr><th>Logo</th><th>Name</th><th>Played</th><th>Progression</th></tr></thead>
        <tbody>
        {% for game in profile.games %}
            <tr>
                <td>
                    {% if game.logo %}
                        <figure class="image">
                            <img alt="{{ game.name }} logo"
                                 src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.id }}/{{ game.logo }}.jpg"/>
                        </figure>
                    {% else %}
                        No logo
                    {% endif %}
                </td>
                <td class="pt-6">{{ game.name }}</td>
                <td class="pt-6">{{ (game.played/60)|round }} hours</td>
                <td class="pt-6"><a href="{{ url_for('achievements', user_id=profile.steam_id, game_id=game.id) }}">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot><tr><th>Logo</th><th>Name</th><th>Played</th><th>Progression</th></tr></tfoot>
    </table>
{% endblock %}
